
.gradle/2.10/taskArtifacts/cache.properties.lock

.gradle/2.10/taskArtifacts/fileHashes.bin

.gradle/2.10/taskArtifacts/fileSnapshots.bin

.gradle/2.10/taskArtifacts/fileHashes.bin

.gradle/2.10/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
app/build/generated/source/r/debug/project/informathique/R.java
.idea/workspace.xml
